.navbar-container {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    padding-bottom: 30px;
    background-color: #e4c1b8;
    overflow: visible;
    z-index: 1000;
}

.navbar {
    width: 100%;
    margin-top: 17px;
    display: grid;
    grid-template-areas: 
    "logo add-recipe-icon"
    "search search";
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.navbar-title {
    font-family: 'Sarina', serif;
    font-size: 26px;
    grid-area: logo;
    margin-left: 28px;
}

.create-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #f9f5ef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-recipe {
    grid-area: add-recipe-icon;
    margin-right: 28px;
}

.dog {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 230px;
    z-index: -2;
    clip-path: inset(0 0 21.5% 0);
    overflow: hidden;
}

@media screen and (max-width: 417px) {
    .navbar {
        margin-top: 6px;
        gap: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-container {
        padding-bottom: 14px;
    }

    .navbar {
        margin-top: 17px;
        grid-template-areas: 
        "logo search add-recipe-icon";
        grid-template-columns: 3fr 5fr 2fr;
        gap: 60px;
    }

    .dog {
        display: none;
    }
} 