.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 10px 0px;
    width: 100%;
  }
  
  .pagination-btn {
    background-color: #ebdfdf;
    border: none;
    color: #542221;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .pagination-btn:hover {
    background-color: #ddd;
  }
  
  .pagination-btn:disabled {
    background-color: #f9f4f4;
    cursor: not-allowed;
    color: #aa8a89;
    text-decoration: .5px solid line-through white;
  }
  
  .pagination-btn.active {
    background-color: #d19989;
    color: #fff;
  }